<nav class="navbar navbar-expand-lg navbar-light navigation">
    <a routerLink="/home" class="navbar-brand">Wallet</a>
    <div class="collapse navbar-collapse" id="navbarToggleDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/wallet">Display</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
<h1>Wallet Application</h1>


